<h1>Ejemplos Caching</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Caching" asp-action="MemoriaDistribuida">Memoria Distribuida</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Caching" asp-action="MemoriaPersonalizada">Memoria Personalizada</a>
    </li>
</ul>