<h1>MEMORIA PERSONALIZADA</h1>
<p>
    <a asp-controller="Caching" asp-action="MemoriaPersonalizada">Actualizar Pagina</a>
</p>
<p>
    <a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="10">Actualizar Pagina 10 sg</a>
</p>
<p>
    <a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="30">Actualizar Pagina 30 sg</a>
</p>
<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>
<h2 style="color:blue">
    @ViewData["FECHA"]
</h2>